<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Transfer page</title>
</head>
<body>
    <div id="content" layout:fragment="content">
        <h4 class="text-danger" id="error"></h4>
        <form class="form-horizontal" role="form" id="transfer_form"
              th:action="@{/customer/transfer}" th:object="${transaction}" method="post">
            <div class="form-group">
                <label class="col-sm-2 control-label"> From</label>
                <div class="col-sm-10">
                    <select th:field="*{fromDeposit}">
                        <option th:data="${deposit.balance}" th:each="deposit : ${deposits}" th:value="${deposit.number}" th:text="${deposit}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"> To</label>
                <div class="col-sm-10" id="to">
                    <select th:field="*{toUser}">
                        <option value="">Select user</option>
                        <option th:each="name : ${names}" th:value="${name}" th:text="${name}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"> Amount</label>
                <div class="col-sm-10">
                    <input type="text" id="amount" th:field="*{amount}"  />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10"><input type="submit" value="Transfer" class="btn btn-default" /></div>
            </div>
        </form>
    </div>
</body>

</html>